@import "../../assets/scss/index.scss";
@import"../../assets/scss/App.scss";

.cards-container{

    width:100%;
    max-width: 1240px;
    border-radius: 25px;
    background: #F6F6F6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 340px;
    gap:50px;
    padding: 56px 50px 43px 50px;
}