.carousel {
  width: 100%;
  max-width: 1240px;
  position: relative;
  display: flex;
  height: 415px;
  border-radius: 25px;
  margin: auto;
  overflow: hidden;

  .carousel__slide {
    display: flex;
    align-items: center;
    border-radius: 25px;
  }

  .carousel__image {
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }

  .carousel__controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }

  .carousel__button {
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }

  .carousel__counter {
    position: absolute;
    margin-bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    font-weight: 500;
  }
}
