.carousel {
  width: 100%;
  max-width: 1240px;
  position: relative;
  display: flex;
  height: 415px;
  border-radius: 25px;
  margin: auto;
  overflow: hidden;

  &__slide {
    display: flex;
    align-items: center;
    border-radius: 25px;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }

  &__controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  &__button {
    display: flex;
    width: auto;
    height: auto;
    color: white;
    cursor: pointer;
    padding: 8px 25px 32px 25px;
  }

  &__counter {
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    padding: 5px;
    font-weight: 500;

    @media (max-width: 1024px) {
      font-size: 16px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}
